<ion-header id="header">
  <ion-navbar>
    <ion-title>
      <ion-icon name="md-game-controller-b"></ion-icon> cardPro
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="bg">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col>     
        <div item-left class="itens-inline">
          <div class="time-to-end" [ngClass]="{hurry: game.hurry}">
             <ion-icon ios="ios-alarm" md="md-alarm"></ion-icon> {{game.time}}
          </div>     
          <div id="countPoints">
             <img class="front" src="assets/img/coin.gif" id="img-coin">x50
          </div>   
        </div>                
        <table class="table">
          <tr *ngFor="let row of game.grid">
            <td *ngFor="let tile of row" (click)="game.flipTile(tile)">
              <div class="container">
                <div class="card" [ngClass]="{flipped: tile.flipped || initCards}">
                  <img class="front" src="assets/img/card-back.png">
                  <img class="back" src="assets/img/{{tile.title}}.png">
                </div>
              </div>
            </td>
          </tr>
        </table>
        <div class="message">{{game.message == 'Bom trabalho! Continue assim.' ? showMessage("Bom trabalho! Continue assim (:"):''}}</div>
        {{game.timeOut ? showEndGameMessage("Fim de Jogo", "Infelizmente, você não conseguiu terminar o jogo a tempo ):", "Tentar Novamente") : ''}}
        {{game.message == 'Você venceu!' ? showEndGameMessage("Fim de Jogo", "Você venceu!", "Novo Jogo", 1):''}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>