<ion-header id="header">
  <ion-navbar>
    <ion-title>
      <ion-icon name="md-game-controller-b"></ion-icon> cardPro
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="bg">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col>
        <div>Pares restantes: {{game.unmatchedPairs}}</div>        
        <table>
          <tr *ngFor="let row of game.grid">
            <td *ngFor="let tile of row" (click)="game.flipTile(tile)">
              <div class="container">
                <div class="card" [ngClass]="{flipped: tile.flipped}">
                  <img class="front" src="assets/img/card-back.jpg">
                  <img class="back" src="assets/img/{{tile.title}}.jpg">
                </div>
              </div>
            </td>
          </tr>
        </table>
        <div class="message">{{game.message}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>